<section>
    <div class="container">
        <h1>Edit event</h1>

        <div class="profile-icon">
            ​✍🏻​
        </div>

        <h2>Edit event</h2>

        <div id="edit-response">

        </div>

        <form id="edit-evebt-form">
            <div class="form-group">
                <label for="eventName">Event's name</label>
                <input type="text" id="event-name1" name="eventName" placeholder="Event's name">
            </div>

            <div class="form-group">
                <label for="eventDescription">Event's description</label>
                <input type="text" id="event-description1" name="eventDescription" placeholder="Event's description">
            </div>

            <div class="form-group">
                <label for="capacity">Capacity</label>
                <input type="number" id="event-capacity1" name="capacity" placeholder="Event's capacity">
            </div>

            <div class="form-group">
                <label for="eventDate">Date</label>
                <input type="date" id="event-date1" name="eventDate" placeholder="Event's date">
            </div>

            <div class="buttons">
                <button type="button" onclick="editEvent(this)" id="btn-edit-event">Edit event</button>
            </div>
        </form>
    </div>
</section>