<section>
    <div class="container">
        <div class="back">←</div>
        <h1>Enroll event</h1>

        <div class="profile-icon">
            ​📓​
        </div>

        <h2>Enroll event</h2>

        <div id="reservation-response">

        </div>

        <form id="reservation-book-form">
            <div class="form-group">
                <label for="eventName2">Event's name</label>
                <input type="text" id="event-name2" name="eventName2" placeholder="Escriba el nombre del libro">
            </div>

            <div class="form-group">
                <label for="quantity">Cuantity of people to enroll</label>
                <input type="number" id="cuantity-enroll" name="quantity2" placeholder="Escriba la cantidad">
            </div>

            <div class="form-group">
                <label for="nameReservation2">How is going to enroll?</label>
                <input type="letters" id="nameReservation" name="nameReservation2" placeholder="Enter your name">
            </div>

            <div class="form-group">
                <label for="number2">Phone number</label>
                <input type="number" id="numberReservation" name="number2" placeholder="Enter your phone number">
            </div>

            <div class="buttons">
                <button type="button" onclick="reserve(this)" id="btn-reserve-event">Enroll event</button>
            </div>


        </form>
    </div>
</section>