<section>
    <div class="header">
        <h2>Events list</h2>
        <button id="add-event-btn"><a href="/newEvent" data-link>ADD A NEW EVENT</a></button>
        <button id="add-admin-btn"><a href="/registerAdmin" data-link>ADD A NEW ADMIN</a></button>
    </div>

    <div id="new-event-results">
    </div>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>description</th>
                <th>Capacity</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="eventsTable">


        </tbody>
    </table>
</section>
