<section>
    <div class="container">
        <div class="back">←</div>
        <h1>New admin register</h1>

        <div class="profile-icon">
            👤
        </div>

        <h2>NEW ADMIN</h2>

        <div id="responseNewAdmin">

        </div>

        <form id="registerNewAdminForm">
            <div class="form-group">
                <label for="name">User</label>
                <input type="text" id="nameNewAdmin" placeholder="Enter your name">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="emailNewAdmin" placeholder="Enter your email">
            </div> 

            <div class="form-group">
                <label for="admission">Password</label>
                <input type="password" id="passwordNewAdmin" >
            </div>

            <div class="buttons">
                <button onclick="registerAdmin()" id="btn-registerAdmin">Register</button>
            </div>
        </form>
    </div>
</section>