<section>
    <div class="container">
        <div class="back">←</div>
        <h1>Sign in new user</h1>

        <div class="profile-icon">
            👤
        </div>

        <h2>NEW USER</h2>

        <div id="responseNewUser">

        </div>

        <form id="register-form">
            <div class="form-group">
                <label for="name">Usuario</label>
                <input type="text" id="nameNewUser" placeholder="Enter your name">
            </div>

            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="emailNewUser" placeholder="Enter your email">
            </div> 

            <div class="form-group">
                <label for="admission">Contraseña</label>
                <input type="password" id="passwordNewUser" >
            </div>

            <div class="buttons">
                <button onclick="registerUser()" id="btn-register">Sign in</button>
            </div>
        </form>
    </div>
</section>