<section>
    <div class="header">
        <h2>Reservation's list</h2>
    </div>

    <div id="reservations-results">
    </div>

    <table>
        <thead>
            <tr>
                <tr>
                <th></th>
                <th>Event's name</th>
                <th>Enrollement's person name</th>
                <th>Enrollement's phone</th>
                <th>Quantity of people</th>
                <th></th>
            </tr>
            </tr>
        </thead>
        <tbody id="reservationsTable">


        </tbody>
    </table>
</section>